/* This section of the styleshee is for index.html */

.recipes{

color: rgb(181, 103, 103);
font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
font-weight: bold;

}

.recipes.instructions{

color: black;

}

/* Stylesheet for pasta.html */

.recipe.header{

color: violet;
font-size: 22;

font-style: italic;
font-weight: bold;

}

.list{

font-weight: bolder;
font-style: italic;

}